html,body {
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
}
.flex-justify-center {
    justify-content: center;
}
.flex-align-center {
    align-items: center;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: red;
}